html{
	padding-bottom: 100px;
}
h1 { color: #89C4F4; }
h2 { color: #E0FFFF; }
h3 { color: #E0FFFF; text-align: center ; }
p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
	vertical-align: middle ;
}
img {
	padding-top: 1em;
}
header {
	text-align: center;
}
body {
	max-width: 1000px ;
	margin: auto;
	color: #E0FFFF ;
	background: #070B14;
	padding-left: 1em ;
	padding-right: 1em ;
}
nav,footer {
    text-align: center ;
    font-style: italic ;
}
nav li a,footer li a {
    text-decoration: none ;
}
nav li,footer li {
    font-style: normal ;
    font-size: 24pt ;
	display: inline-block ;
	list-style: none ;
    padding: 0 .25em ;
}
a {
    color: #89C4F4;
}
header h1 {
	font-size: 48pt ;
}

.episode img {
	width: 250px;
	padding: 20px;
}

.episode {
	min-height: 300px;
	text-align: left;
}

.episode img {
	margin: auto;
	display: block ;
}

@media (min-width: 55em) {
.episode:nth-child(even) img {
    float: right ;
}

.episode:nth-child(odd) img {
    float: left ;
}
}
.qr { max-width: 150px ; padding: 10px }
p img, li img, h1 img, h2 img, h3 img, h4 img {
	max-height: 1em;
	max-width: 1em;
}

.cryptoaddr {
	overflow-wrap: break-word ;
	font-size: x-small ;
	word-break: break-all ;
}
details {
	margin: auto;
	max-width: 750px ;
	color: #E0FFFF ;
}
summary {
color:  #E0FFFF;
}
.info {
	font-size: small ;
	color: #E0FFFF;
}
