html{
        padding-bottom: 5em;
	font-family: sans-serif;
}
body {
	color: #070B14 ;
	background: #E0FFFF;
}
header {
	padding-top: 5em;
	text-align: center;
 	padding-bottom: 2em;
	background: #070B14;
	color: #E0FFFF;
	width: 100%;
	margin-bottom: 4em;
	padding-left: 2em;
	padding-right: 2em;
}
article {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	padding-top: 2em;
	background: #070B14;
	color: #E0FFFF;
	text-align: center;
	margin: auto;
	width: 75%;
	margin-bottom: 2em;
	box-shadow: 4px 8px 3px 0px #333333;
	text-align: center;
	border-radius: 5px;
	max-width: 850px;
}
h1 {
        color: #89C4F4;
	padding-top: 1em;
}
h2 {
	color: #E0FFFF;
}
a {
	color: #89C4F4;
}
time {
	font-size: small ;
	color: gray;
}
